# Retrieve Data from Database

In order to connect to the database, first, make sure:
1. …you have a local (running) database with the `hostname`, `database` name, `username`, and `port` number as specified in `/resources/config/gadb_pg_config.py`.
2. …the `airports` and `flights_and_weather` tables have data.

If the `airports` and `flights_and_weather` tables do not have data, you must first run `/download_and_prepare_datasets/02_prepare_and_store_data.ipynb` to populate the database.

In [1]:
import os
import time

In [2]:
os.chdir(os.path.join('.','resources'))

## Connect to Database

In [3]:
# Database configuration details
from config import gadb_pg_config as cfg

# To connect to SQL database
import sqlalchemy as db
# from sqlalchemy import create_engine, MetaData, Table, text, types

# To enter passwords without exposing them
from getpass import getpass

Most of the database information is already in `cfg` (above). However, you will have to enter your password below.

In [4]:
password = getpass('Enter database password')

Enter database password········

In [5]:
start_time = time.time()

In [6]:
db_string = f"postgresql+psycopg2://{cfg.username}:{password}@{cfg.hostname}:{cfg.port}/{cfg.database}"

In [7]:
engine = db.create_engine(
    future=True,
#     echo=True,
    url=db_string
)

## Access Database Tables and Create Table Aliases

In [8]:
db_meta = db.MetaData()

In [9]:
# Access the `airports` and `flights_and_weather` tables and assign them to variables
airports_table = db.Table('airports', db_meta, autoload_with=engine)
faw_table = db.Table('flights_and_weather', db_meta, autoload_with=engine)
faw = faw_table.alias('faw')
orig = airports_table.alias('orig')
dest = airports_table.alias('dest')

## Extract Full, Joined Dataset to Pandas Dataframe

In [10]:
from io import StringIO
import pandas as pd

In [11]:
# Function to extract from database query to Pandas dataframe
# Adapted from <https://towardsdatascience.com/optimizing-pandas-read-sql-for-postgres-f31cd7f707ab>
def read_sql_inmem(query, db_engine, **kwargs):
    copy_sql = "COPY ({query}) TO STDOUT WITH CSV {head}".format(
       query=query, head="HEADER"
    )
    conn = db_engine.raw_connection()
    cur = conn.cursor()
    store = StringIO()
    cur.copy_expert(copy_sql, store)
    store.seek(0)
    df = pd.read_csv(store, **kwargs)
    return df

In [12]:
# The query composed as an SQLAlchemy table object
get_all = (
    db.select([
        faw,
        orig.c.lat_decimal.label('origin_lat'),
        orig.c.lon_decimal.label('origin_lon'),
        dest.c.lat_decimal.label('destination_lat'),
        dest.c.lon_decimal.label('destination_lon')
    ])
    .select_from(
        faw
        .join(orig, orig.c.iata_code == faw.c.origin_airport, isouter=True)
        .join(dest, dest.c.iata_code == faw.c.destination_airport, isouter=True)
    )
    .order_by(faw.c.id)
)

In [13]:
def print_shape(df):
    df_rows, df_cols = df.shape
    print(f"{df_rows:,} rows × {df_cols:,} columns")

In [14]:
def df_details(df):
    return pd.concat(
        [
            df.dtypes,
            df.isna().sum(),
            pd.Series(
                data=[df[col].dropna().is_unique for col in df.columns],
                index=df.columns
            )
        ],
        axis=1,
        keys=['data_type','null_count','unique']
    )

In [15]:
# Run the query, and save the result to a dataframe
combined_df = read_sql_inmem(
    query=get_all,
#     query=get_all.limit(10).compile(engine, compile_kwargs={"literal_binds": True}),
    db_engine=engine,
    index_col='id',
    converters={'cancelled':(lambda x: True if x == 't' else False)}
)
# .sort_index(kind='mergesort')

print_shape(combined_df)

C:\Users\rysul\anaconda3\envs\PythonData\lib\site-packages\numpy\lib\arraysetops.py:583: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

5,468,069 rows × 35 columns

In [16]:
with pd.option_context('display.max_columns',None):
    display(combined_df.head())

,carrier_code,flight_number,origin_airport,destination_airport,flight_date,scheduled_elapsed_time,tail_number,departure_delay,arrival_delay,delay_carrier,delay_weather,delay_national_aviation_system,delay_security,delay_late_aircarft_arrival,cancelled,scheduled_departure_dt,scheduled_arrival_dt,actual_departure_dt,actual_arrival_dt,station_x,hourlydrybulbtemperature_x,hourlyprecipitation_x,hourlystationpressure_x,hourlyvisibility_x,hourlywindspeed_x,station_y,hourlydrybulbtemperature_y,hourlyprecipitation_y,hourlystationpressure_y,hourlyvisibility_y,hourlywindspeed_y,origin_lat,origin_lon,destination_lat,destination_lon
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,AS,121,SEA,ANC,2019-05-01,215,N615AS,-8,-16,0,0,0,0,0,False,2019-05-01 00:40:00,2019-05-01 03:15:00,2019-05-01 00:32:00,2019-05-01 02:59:00,7.279302e+10,49.0,0.0,29.59,10.0,8.0,7.027253e+10,42.0,0.0,30.16,10.0,3.0,47.449,-122.309,61.174,-149.996
1,F9,402,LAX,DEN,2019-05-01,147,N701FR,17,-4,0,0,0,0,0,False,2019-05-01 00:59:00,2019-05-01 04:26:00,2019-05-01 01:16:00,2019-05-01 04:22:00,7.229502e+10,58.0,0.0,29.65,10.0,3.0,7.256500e+10,34.0,0.0,24.43,4.0,0.0,33.942,-118.408,39.858,-104.667
2,F9,662,SFO,DEN,2019-05-01,158,N346FR,44,27,0,0,0,0,27,False,2019-05-01 00:50:00,2019-05-01 04:28:00,2019-05-01 01:34:00,2019-05-01 04:55:00,7.249402e+10,51.0,0.0,29.98,10.0,6.0,7.256500e+10,34.0,0.0,24.43,4.0,0.0,37.619,-122.375,39.858,-104.667
3,F9,790,PDX,DEN,2019-05-01,156,N332FR,24,10,0,0,0,0,0,False,2019-05-01 00:55:00,2019-05-01 04:31:00,2019-05-01 01:19:00,2019-05-01 04:41:00,7.269802e+10,48.0,0.0,29.98,10.0,0.0,7.256500e+10,34.0,0.0,24.43,4.0,0.0,45.589,-122.597,39.858,-104.667
4,AS,108,ANC,SEA,2019-05-01,210,N548AS,-9,-31,0,0,0,0,0,False,2019-05-01 00:10:00,2019-05-01 04:40:00,2019-05-01 00:01:00,2019-05-01 04:09:00,7.027253e+10,43.0,0.0,30.18,10.0,5.0,7.279302e+10,44.0,0.0,29.58,10.0,7.0,61.174,-149.996,47.449,-122.309

In [17]:
df_details(combined_df)

                               data_type  null_count  unique
carrier_code                      object           0   False
flight_number                      int64           0   False
origin_airport                    object           0   False
destination_airport               object           0   False
flight_date                       object           0   False
scheduled_elapsed_time             int64           0   False
tail_number                       object        6973   False
departure_delay                    int64           0   False
arrival_delay                      int64           0   False
delay_carrier                      int64           0   False
delay_weather                      int64           0   False
delay_national_aviation_system     int64           0   False
delay_security                     int64           0   False
delay_late_aircarft_arrival        int64           0   False
cancelled                           bool           0   False
scheduled_departure_dt            object           0   False
scheduled_arrival_dt              object           0   False
actual_departure_dt               object       40065   False
actual_arrival_dt                 object       43808   False
station_x                        float64        2073   False
hourlydrybulbtemperature_x       float64        2073   False
hourlyprecipitation_x            float64        9881   False
hourlystationpressure_x          float64        2073   False
hourlyvisibility_x               float64        2073   False
hourlywindspeed_x                float64        2073   False
station_y                        float64        2078   False
hourlydrybulbtemperature_y       float64        2078   False
hourlyprecipitation_y            float64        9896   False
hourlystationpressure_y          float64        2078   False
hourlyvisibility_y               float64        2078   False
hourlywindspeed_y                float64        2078   False
origin_lat                       float64      382438   False
origin_lon                       float64      382438   False
destination_lat                  float64      382775   False
destination_lon                  float64      382775   False

In [18]:
print(f'Elapsed time: {(time.time() - start_time):,.3f} seconds.')

Elapsed time: 260.934 seconds.

# Begin Map Building

In [128]:
# Set new df with info we need.
map_df = combined_df[['origin_airport', 'destination_airport', 'cancelled', 'origin_lat', 'origin_lon', 'destination_lat', 'destination_lon']]
map_df.head(10)

,origin_airport,destination_airport,cancelled,origin_lat,origin_lon,destination_lat,destination_lon
id,,,,,,,
0,SEA,ANC,False,47.449,-122.309,61.174,-149.996
1,LAX,DEN,False,33.942,-118.408,39.858,-104.667
2,SFO,DEN,False,37.619,-122.375,39.858,-104.667
3,PDX,DEN,False,45.589,-122.597,39.858,-104.667
4,ANC,SEA,False,61.174,-149.996,47.449,-122.309
5,SEA,DEN,False,47.449,-122.309,39.858,-104.667
6,SJU,TPA,False,18.439,-66.002,27.975,-82.533
7,SJU,MCO,False,18.439,-66.002,28.429,-81.316
8,LAS,DEN,False,36.080,-115.152,39.858,-104.667
9,MSP,FLL,False,44.880,-93.217,26.072,-80.153

In [129]:
df_details(map_df)

                    data_type  null_count  unique
origin_airport         object           0   False
destination_airport    object           0   False
cancelled                bool           0   False
origin_lat            float64      382438   False
origin_lon            float64      382438   False
destination_lat       float64      382775   False
destination_lon       float64      382775   False

In [130]:
# Group by origin_airport
origin_df = map_df.groupby('origin_airport').agg({"cancelled": "sum"}).rename({'cancelled': 'cancelled_sum'}, axis=1)

#Reset the index
# origin_df = origin_df.reset_index(level=0)
origin_df

                cancelled_sum
origin_airport
ABE                        42
ABI                        22
ABQ                       108
ABR                         5
ABY                         2
...                       ...
XNA                       113
XWA                        12
YAK                         4
YKM                         5
YUM                         6

[373 rows x 1 columns]

In [131]:
df_details(origin_df)

              data_type  null_count  unique
cancelled_sum     int64           0   False

In [132]:
# DataFrame with the lat and lon
origin_latlon_df = map_df[['origin_airport', 'origin_lat', 'origin_lon']].drop_duplicates(subset='origin_airport').sort_values('origin_airport').set_index('origin_airport')
origin_latlon_df

                origin_lat  origin_lon
origin_airport
ABE                    NaN         NaN
ABI                 32.411     -99.682
ABQ                 35.040    -106.609
ABR                    NaN         NaN
ABY                    NaN         NaN
...                    ...         ...
XNA                    NaN         NaN
XWA                    NaN         NaN
YAK                 59.503    -139.660
YKM                    NaN         NaN
YUM                 32.656    -114.606

[373 rows x 2 columns]

In [133]:
# join the data frames
joined_origin_df = origin_df.join(origin_latlon_df).dropna()
joined_origin_df

                cancelled_sum  origin_lat  origin_lon
origin_airport
ABI                        22      32.411     -99.682
ABQ                       108      35.040    -106.609
ACK                        39      41.253     -70.060
ACT                        33      31.611     -97.230
ACY                        22      39.458     -74.577
...                       ...         ...         ...
TYR                        31      32.354     -95.402
TYS                        94      35.812     -83.993
VPS                        51      30.483     -86.525
YAK                         4      59.503    -139.660
YUM                         6      32.656    -114.606

[211 rows x 3 columns]

In [134]:
# df to geojson
def df_to_geojson(df, properties, lat='latitude', lon='longitude'):
    geojson = {'type':'FeatureCollection', 'features':[]}
    for _, row in df.iterrows():
        feature = {'type':'Feature',
                   'properties':{},
                   'geometry':{'type':'Point',
                               'coordinates':[]}}
        feature['geometry']['coordinates'] = [row[lon],row[lat]]
        for prop in properties:
            feature['properties'][prop] = row[prop]
        geojson['features'].append(feature)
    return geojson

In [141]:
# apply the function
df_to_geojson(joined_origin_df, ['origin_lat', 'origin_lon'], lat='origin_lat', lon='origin_lon')

{'type': 'FeatureCollection',
 'features': [{'type': 'Feature',
   'properties': {'origin_lat': 32.411, 'origin_lon': -99.682},
   'geometry': {'type': 'Point', 'coordinates': [-99.682, 32.411]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 35.04, 'origin_lon': -106.609},
   'geometry': {'type': 'Point', 'coordinates': [-106.609, 35.04]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 41.253, 'origin_lon': -70.06},
   'geometry': {'type': 'Point', 'coordinates': [-70.06, 41.253]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 31.611, 'origin_lon': -97.23},
   'geometry': {'type': 'Point', 'coordinates': [-97.23, 31.611]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 39.458, 'origin_lon': -74.577},
   'geometry': {'type': 'Point', 'coordinates': [-74.577, 39.458]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 51.878, 'origin_lon': -176.646},
   'geometry': {'type': 'Point', 'coordinates': [-176.646, 51.878]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 57.75, 'origin_lon': -152.494},
   'geometry': {'type': 'Point', 'coordinates': [-152.494, 57.75]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 31.327, 'origin_lon': -92.548},
   'geometry': {'type': 'Point', 'coordinates': [-92.548, 31.327]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 33.37, 'origin_lon': -81.964},
   'geometry': {'type': 'Point', 'coordinates': [-81.964, 33.37]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 58.677, 'origin_lon': -156.649},
   'geometry': {'type': 'Point', 'coordinates': [-156.649, 58.677]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 42.748, 'origin_lon': -73.803},
   'geometry': {'type': 'Point', 'coordinates': [-73.803, 42.748]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 35.219, 'origin_lon': -101.706},
   'geometry': {'type': 'Point', 'coordinates': [-101.706, 35.219]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 61.174, 'origin_lon': -149.996},
   'geometry': {'type': 'Point', 'coordinates': [-149.996, 61.174]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 43.992, 'origin_lon': -76.022},
   'geometry': {'type': 'Point', 'coordinates': [-76.022, 43.992]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 33.64, 'origin_lon': -84.427},
   'geometry': {'type': 'Point', 'coordinates': [-84.427, 33.64]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 30.194, 'origin_lon': -97.67},
   'geometry': {'type': 'Point', 'coordinates': [-97.67, 30.194]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 41.939, 'origin_lon': -72.683},
   'geometry': {'type': 'Point', 'coordinates': [-72.683, 41.939]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 60.78, 'origin_lon': -161.838},
   'geometry': {'type': 'Point', 'coordinates': [-161.838, 60.78]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 35.433, 'origin_lon': -119.057},
   'geometry': {'type': 'Point', 'coordinates': [-119.057, 35.433]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 30.626, 'origin_lon': -88.068},
   'geometry': {'type': 'Point', 'coordinates': [-88.068, 30.626]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 44.807, 'origin_lon': -68.828},
   'geometry': {'type': 'Point', 'coordinates': [-68.828, 44.807]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 33.563, 'origin_lon': -86.753},
   'geometry': {'type': 'Point', 'coordinates': [-86.753, 33.563]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 48.792, 'origin_lon': -122.537},
   'geometry': {'type': 'Point', 'coordinates': [-122.537, 48.792]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 38.545, 'origin_lon': -89.835},
   'geometry': {'type': 'Point', 'coordinates': [-89.835, 38.545]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 36.124, 'origin_lon': -86.678},
   'geometry': {'type': 'Point', 'coordinates': [-86.678, 36.124]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 43.564, 'origin_lon': -116.223},
   'geometry': {'type': 'Point', 'coordinates': [-116.223, 43.564]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 42.364, 'origin_lon': -71.005},
   'geometry': {'type': 'Point', 'coordinates': [-71.005, 42.364]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 29.951, 'origin_lon': -94.021},
   'geometry': {'type': 'Point', 'coordinates': [-94.021, 29.951]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 18.495, 'origin_lon': -67.129},
   'geometry': {'type': 'Point', 'coordinates': [-67.129, 18.495]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 25.907, 'origin_lon': -97.426},
   'geometry': {'type': 'Point', 'coordinates': [-97.426, 25.907]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 71.285, 'origin_lon': -156.766},
   'geometry': {'type': 'Point', 'coordinates': [-156.766, 71.285]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 30.533, 'origin_lon': -91.149},
   'geometry': {'type': 'Point', 'coordinates': [-91.149, 30.533]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 44.472, 'origin_lon': -73.153},
   'geometry': {'type': 'Point', 'coordinates': [-73.153, 44.472]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 42.94, 'origin_lon': -78.732},
   'geometry': {'type': 'Point', 'coordinates': [-78.732, 42.94]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 34.201, 'origin_lon': -118.359},
   'geometry': {'type': 'Point', 'coordinates': [-118.359, 34.201]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 39.175, 'origin_lon': -76.668},
   'geometry': {'type': 'Point', 'coordinates': [-76.668, 39.175]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 33.939, 'origin_lon': -81.119},
   'geometry': {'type': 'Point', 'coordinates': [-81.119, 33.939]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 37.701, 'origin_lon': -113.099},
   'geometry': {'type': 'Point', 'coordinates': [-113.099, 37.701]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 60.492, 'origin_lon': -145.477},
   'geometry': {'type': 'Point', 'coordinates': [-145.477, 60.492]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 35.035, 'origin_lon': -85.204},
   'geometry': {'type': 'Point', 'coordinates': [-85.204, 35.035]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 32.899, 'origin_lon': -80.04},
   'geometry': {'type': 'Point', 'coordinates': [-80.04, 32.899]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 41.412, 'origin_lon': -81.85},
   'geometry': {'type': 'Point', 'coordinates': [-81.85, 41.412]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 30.588, 'origin_lon': -96.364},
   'geometry': {'type': 'Point', 'coordinates': [-96.364, 30.588]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 35.214, 'origin_lon': -80.943},
   'geometry': {'type': 'Point', 'coordinates': [-80.943, 35.214]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 39.998, 'origin_lon': -82.892},
   'geometry': {'type': 'Point', 'coordinates': [-82.892, 39.998]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 38.806, 'origin_lon': -104.7},
   'geometry': {'type': 'Point', 'coordinates': [-104.7, 38.806]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 38.818, 'origin_lon': -92.219},
   'geometry': {'type': 'Point', 'coordinates': [-92.219, 38.818]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 42.908, 'origin_lon': -106.464},
   'geometry': {'type': 'Point', 'coordinates': [-106.464, 42.908]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 27.77, 'origin_lon': -97.501},
   'geometry': {'type': 'Point', 'coordinates': [-97.501, 27.77]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 39.046, 'origin_lon': -84.662},
   'geometry': {'type': 'Point', 'coordinates': [-84.662, 39.046]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 41.156, 'origin_lon': -104.812},
   'geometry': {'type': 'Point', 'coordinates': [-104.812, 41.156]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 32.847, 'origin_lon': -96.852},
   'geometry': {'type': 'Point', 'coordinates': [-96.852, 32.847]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 39.902, 'origin_lon': -84.219},
   'geometry': {'type': 'Point', 'coordinates': [-84.219, 39.902]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 38.852, 'origin_lon': -77.037},
   'geometry': {'type': 'Point', 'coordinates': [-77.037, 38.852]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 39.858, 'origin_lon': -104.667},
   'geometry': {'type': 'Point', 'coordinates': [-104.667, 39.858]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 32.896, 'origin_lon': -97.037},
   'geometry': {'type': 'Point', 'coordinates': [-97.037, 32.896]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 31.321, 'origin_lon': -85.449},
   'geometry': {'type': 'Point', 'coordinates': [-85.449, 31.321]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 59.045, 'origin_lon': -158.503},
   'geometry': {'type': 'Point', 'coordinates': [-158.503, 59.045]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 46.842, 'origin_lon': -92.194},
   'geometry': {'type': 'Point', 'coordinates': [-92.194, 46.842]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 37.151, 'origin_lon': -107.754},
   'geometry': {'type': 'Point', 'coordinates': [-107.754, 37.151]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 29.373, 'origin_lon': -100.926},
   'geometry': {'type': 'Point', 'coordinates': [-100.926, 29.373]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 41.534, 'origin_lon': -93.663},
   'geometry': {'type': 'Point', 'coordinates': [-93.663, 41.534]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 42.212, 'origin_lon': -83.353},
   'geometry': {'type': 'Point', 'coordinates': [-83.353, 42.212]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 53.9, 'origin_lon': -166.543},
   'geometry': {'type': 'Point', 'coordinates': [-166.543, 53.9]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 31.807, 'origin_lon': -106.378},
   'geometry': {'type': 'Point', 'coordinates': [-106.378, 31.807]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 35.073, 'origin_lon': -77.043},
   'geometry': {'type': 'Point', 'coordinates': [-77.043, 35.073]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 40.692, 'origin_lon': -74.169},
   'geometry': {'type': 'Point', 'coordinates': [-74.169, 40.692]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 24.556, 'origin_lon': -81.759},
   'geometry': {'type': 'Point', 'coordinates': [-81.759, 24.556]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 64.815, 'origin_lon': -147.856},
   'geometry': {'type': 'Point', 'coordinates': [-147.856, 64.815]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 36.776, 'origin_lon': -119.718},
   'geometry': {'type': 'Point', 'coordinates': [-119.718, 36.776]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 26.072, 'origin_lon': -80.153},
   'geometry': {'type': 'Point', 'coordinates': [-80.153, 26.072]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 34.185, 'origin_lon': -79.724},
   'geometry': {'type': 'Point', 'coordinates': [-79.724, 34.185]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 35.336, 'origin_lon': -94.367},
   'geometry': {'type': 'Point', 'coordinates': [-94.367, 35.336]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 37.927, 'origin_lon': -100.724},
   'geometry': {'type': 'Point', 'coordinates': [-100.724, 37.927]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 47.62, 'origin_lon': -117.534},
   'geometry': {'type': 'Point', 'coordinates': [-117.534, 47.62]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 47.949, 'origin_lon': -97.176},
   'geometry': {'type': 'Point', 'coordinates': [-97.176, 47.949]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 32.385, 'origin_lon': -94.711},
   'geometry': {'type': 'Point', 'coordinates': [-94.711, 32.385]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 29.69, 'origin_lon': -82.272},
   'geometry': {'type': 'Point', 'coordinates': [-82.272, 29.69]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 44.485, 'origin_lon': -88.129},
   'geometry': {'type': 'Point', 'coordinates': [-88.129, 44.485]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 31.067, 'origin_lon': -97.829},
   'geometry': {'type': 'Point', 'coordinates': [-97.829, 31.067]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 42.881, 'origin_lon': -85.523},
   'geometry': {'type': 'Point', 'coordinates': [-85.523, 42.881]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 47.482, 'origin_lon': -111.371},
   'geometry': {'type': 'Point', 'coordinates': [-111.371, 47.482]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 13.484, 'origin_lon': 144.797},
   'geometry': {'type': 'Point', 'coordinates': [144.797, 13.484]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 47.386, 'origin_lon': -92.839},
   'geometry': {'type': 'Point', 'coordinates': [-92.839, 47.386]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 46.607, 'origin_lon': -111.983},
   'geometry': {'type': 'Point', 'coordinates': [-111.983, 46.607]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 21.316, 'origin_lon': -157.927},
   'geometry': {'type': 'Point', 'coordinates': [-157.927, 21.316]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 32.688, 'origin_lon': -103.217},
   'geometry': {'type': 'Point', 'coordinates': [-103.217, 32.688]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 29.645, 'origin_lon': -95.279},
   'geometry': {'type': 'Point', 'coordinates': [-95.279, 29.645]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 41.067, 'origin_lon': -73.707},
   'geometry': {'type': 'Point', 'coordinates': [-73.707, 41.067]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 26.228, 'origin_lon': -97.654},
   'geometry': {'type': 'Point', 'coordinates': [-97.654, 26.228]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 38.944, 'origin_lon': -77.456},
   'geometry': {'type': 'Point', 'coordinates': [-77.456, 38.944]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 43.107, 'origin_lon': -78.946},
   'geometry': {'type': 'Point', 'coordinates': [-78.946, 43.107]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 29.98, 'origin_lon': -95.34},
   'geometry': {'type': 'Point', 'coordinates': [-95.34, 29.98]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 37.65, 'origin_lon': -97.433},
   'geometry': {'type': 'Point', 'coordinates': [-97.433, 37.65]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 34.271, 'origin_lon': -77.903},
   'geometry': {'type': 'Point', 'coordinates': [-77.903, 34.271]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 39.717, 'origin_lon': -86.294},
   'geometry': {'type': 'Point', 'coordinates': [-86.294, 39.717]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 48.566, 'origin_lon': -93.403},
   'geometry': {'type': 'Point', 'coordinates': [-93.403, 48.566]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 41.242, 'origin_lon': -76.921},
   'geometry': {'type': 'Point', 'coordinates': [-76.921, 41.242]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 48.178, 'origin_lon': -103.642},
   'geometry': {'type': 'Point', 'coordinates': [-103.642, 48.178]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 40.795, 'origin_lon': -73.1},
   'geometry': {'type': 'Point', 'coordinates': [-73.1, 40.795]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 19.72, 'origin_lon': -155.049},
   'geometry': {'type': 'Point', 'coordinates': [-155.049, 19.72]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 32.311, 'origin_lon': -90.076},
   'geometry': {'type': 'Point', 'coordinates': [-90.076, 32.311]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 30.494, 'origin_lon': -81.688},
   'geometry': {'type': 'Point', 'coordinates': [-81.688, 30.494]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 40.64, 'origin_lon': -73.779},
   'geometry': {'type': 'Point', 'coordinates': [-73.779, 40.64]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 20.963, 'origin_lon': -156.674},
   'geometry': {'type': 'Point', 'coordinates': [-156.674, 20.963]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 58.355, 'origin_lon': -134.576},
   'geometry': {'type': 'Point', 'coordinates': [-134.576, 58.355]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 19.739, 'origin_lon': -156.046},
   'geometry': {'type': 'Point', 'coordinates': [-156.046, 19.739]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 55.356, 'origin_lon': -131.714},
   'geometry': {'type': 'Point', 'coordinates': [-131.714, 55.356]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 42.779, 'origin_lon': -84.587},
   'geometry': {'type': 'Point', 'coordinates': [-84.587, 42.779]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 36.08, 'origin_lon': -115.152},
   'geometry': {'type': 'Point', 'coordinates': [-115.152, 36.08]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 33.942, 'origin_lon': -118.408},
   'geometry': {'type': 'Point', 'coordinates': [-118.408, 33.942]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 33.664, 'origin_lon': -101.823},
   'geometry': {'type': 'Point', 'coordinates': [-101.823, 33.664]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 30.126, 'origin_lon': -93.223},
   'geometry': {'type': 'Point', 'coordinates': [-93.223, 30.126]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 39.814, 'origin_lon': -82.928},
   'geometry': {'type': 'Point', 'coordinates': [-82.928, 39.814]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 30.205, 'origin_lon': -91.987},
   'geometry': {'type': 'Point', 'coordinates': [-91.987, 30.205]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 40.777, 'origin_lon': -73.872},
   'geometry': {'type': 'Point', 'coordinates': [-73.872, 40.777]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 33.818, 'origin_lon': -118.151},
   'geometry': {'type': 'Point', 'coordinates': [-118.151, 33.818]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 21.976, 'origin_lon': -159.339},
   'geometry': {'type': 'Point', 'coordinates': [-159.339, 21.976]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 34.729, 'origin_lon': -92.224},
   'geometry': {'type': 'Point', 'coordinates': [-92.224, 34.729]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 40.851, 'origin_lon': -96.759},
   'geometry': {'type': 'Point', 'coordinates': [-96.759, 40.851]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 20.786, 'origin_lon': -156.951},
   'geometry': {'type': 'Point', 'coordinates': [-156.951, 20.786]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 27.544, 'origin_lon': -99.461},
   'geometry': {'type': 'Point', 'coordinates': [-99.461, 27.544]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 31.942, 'origin_lon': -102.202},
   'geometry': {'type': 'Point', 'coordinates': [-102.202, 31.942]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 39.297, 'origin_lon': -94.714},
   'geometry': {'type': 'Point', 'coordinates': [-94.714, 39.297]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 28.429, 'origin_lon': -81.316},
   'geometry': {'type': 'Point', 'coordinates': [-81.316, 28.429]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 40.193, 'origin_lon': -76.763},
   'geometry': {'type': 'Point', 'coordinates': [-76.763, 40.193]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 41.786, 'origin_lon': -87.752},
   'geometry': {'type': 'Point', 'coordinates': [-87.752, 41.786]}},
  {'type': 'Feature',
   'properties': {'origin_lat': 35.042, 'origin_lon': -89.977},
   'geometry': {'type': 'Point', 'coordinates': [-89.977, 35.042]}},
  {'type': 'Feature',

In [144]:
# Save the file

from geojson import Point, Feature, FeatureCollection, dump

with open(os.path.join('.', 'data','origin_airports.geojson'), 'w') as f:
   dump(df_to_geojson(joined_origin_df, ['origin_lat', 'origin_lon'], lat='origin_lat', lon='origin_lon'), f)