# Process data

### Important

In order to process the airport, flight, and weather data, you must already have it available. If you have not already acquired the data, open notebook `01_get_data` and run all its cells.

In [1]:
import os
import pandas as pd
import re  # regular expressions

In [2]:
data_dir = os.path.join('..','resources','data')

In [3]:
os.listdir(data_dir)

['05-2019.csv',
 '06-2019.csv',
 '07-2019.csv',
 '08-2019.csv',
 '09-2019.csv',
 '10-2019.csv',
 '11-2019.csv',
 '12-2019.csv',
 'gadb_postgresql_create_airports_table.sql',
 'GlobalAirportDatabase_Create_PostgreSQL.zip',
 'historical-flight-and-weather-data.zip']

In [4]:
primary_source_files = list(filter(
                            lambda item: re.fullmatch(
                                '\d{2}\-2019\.csv',
                                item,
                                flags=re.I
                            ) is not None,
                            os.listdir(data_dir)
                        ))

secondary_source_file = 'gadb_postgresql_create_airports_table.sql'

## Primary Data Set

In [5]:
primary_df = pd.concat([
    pd.read_csv(os.path.join(data_dir,filename))
    for filename in primary_source_files
])

primary_df_rows, primary_df_cols = primary_df.shape

print(f"{primary_df_rows:,} rows × {primary_df_cols:,} columns")

5,512,903 rows × 35 columns

In [6]:
primary_df.head()

,carrier_code,flight_number,origin_airport,destination_airport,date,scheduled_elapsed_time,tail_number,departure_delay,arrival_delay,delay_carrier,...,HourlyPrecipitation_x,HourlyStationPressure_x,HourlyVisibility_x,HourlyWindSpeed_x,STATION_y,HourlyDryBulbTemperature_y,HourlyPrecipitation_y,HourlyStationPressure_y,HourlyVisibility_y,HourlyWindSpeed_y
0,AS,121,SEA,ANC,2019-05-01,215,N615AS,-8,-16,0,...,0.0,29.59,10.0,8.0,7.027253e+10,42.0,0.0,30.16,10.0,3.0
1,F9,402,LAX,DEN,2019-05-01,147,N701FR,17,-4,0,...,0.0,29.65,10.0,3.0,7.256500e+10,34.0,0.0,24.43,4.0,0.0
2,F9,662,SFO,DEN,2019-05-01,158,N346FR,44,27,0,...,0.0,29.98,10.0,6.0,7.256500e+10,34.0,0.0,24.43,4.0,0.0
3,F9,790,PDX,DEN,2019-05-01,156,N332FR,24,10,0,...,0.0,29.98,10.0,0.0,7.256500e+10,34.0,0.0,24.43,4.0,0.0
4,AS,108,ANC,SEA,2019-05-01,210,N548AS,-9,-31,0,...,0.0,30.18,10.0,5.0,7.279302e+10,44.0,0.0,29.58,10.0,7.0

In [7]:
# Get data types and number of null values for each column
pd.concat(
    [
        primary_df.dtypes,
        primary_df.isna().sum()
    ],
    axis=1,
    keys=['data_type','null_count']
)

                               data_type  null_count
carrier_code                      object           0
flight_number                      int64           0
origin_airport                    object           0
destination_airport               object           0
date                              object           0
scheduled_elapsed_time             int64           0
tail_number                       object       13556
departure_delay                    int64           0
arrival_delay                      int64           0
delay_carrier                      int64           0
delay_weather                      int64           0
delay_national_aviation_system     int64           0
delay_security                     int64           0
delay_late_aircarft_arrival        int64           0
cancelled_code                    object           0
year                               int64           0
month                              int64           0
day                                int64           0
weekday                            int64           0
scheduled_departure_dt            object           0
scheduled_arrival_dt              object           0
actual_departure_dt               object       82715
actual_arrival_dt                 object       88642
STATION_x                        float64        2088
HourlyDryBulbTemperature_x       float64        2088
HourlyPrecipitation_x            float64       10029
HourlyStationPressure_x          float64        2088
HourlyVisibility_x               float64        2088
HourlyWindSpeed_x                float64        2088
STATION_y                        float64        2091
HourlyDryBulbTemperature_y       float64        2091
HourlyPrecipitation_y            float64       10031
HourlyStationPressure_y          float64        2091
HourlyVisibility_y               float64        2091
HourlyWindSpeed_y                float64        2091

**Note:** Eventually, `cancelled_code` will be our target column for a machine-learning algorithm.  
Because the column in the source data is `cancelled_code` and not `canceled_code`, the double-l spelling will be used in this work.

In [8]:
# Examine the `carrier_code` column
primary_df.carrier_code.value_counts()

AA    1438798
DL    1207720
UA    1070050
WN     918320
AS     304198
B6     199314
NK     142041
F9      97482
G4      71728
HA      63252
Name: carrier_code, dtype: int64

### What do the codes mean?

According to the United States Department of Transportation Bureau of Transportation Statistics Airlines and Airports data, [Airline Codes](https://www.bts.gov/topics/airlines-and-airports/airline-codes) document:

**AIRLINE CODES:**
- `AA`-American Airlines Inc.
- `AS`-Alaska Airlines Inc.
- `B6`-JetBlue Airways
- `DL`-Delta Air Lines Inc.
- `F9`-Frontier Airlines Inc.
- `G4`-Allegiant Air
- `HA`-Hawaiian Airlines Inc.
- `NK`-Spirit Air Lines
- `UA`-United Air Lines Inc.
- `WN`-Southwest Airlines Co.

In [9]:
# Examine the `flight_number` column
# Are they unique?
primary_df.flight_number.duplicated(keep=False).sum()

5512864

They very much are not unique.

In [10]:
# What about the combination of `carrier_code` and `flight_number`?
primary_df[['carrier_code','flight_number']].duplicated(keep=False).sum()

5512259

Also not unique.

In [11]:
# Combine `year`, `month`, and `day` into a single `string` in the same format as the `date` column
# and check for equality against the actual date column.

# Check only a few rows
(
    primary_df[['year','month','day']][:3]
    .apply(lambda row: '-'.join([val.zfill(2) for val in row.values.astype(str)]), axis=1)
    .equals(
        primary_df.date[:3]
    )
)

# Check all the rows
# (
#     primary_df[['year','month','day']]
#     .apply(lambda row: '-'.join([val.zfill(2) for val in row.values.astype(str)]), axis=1)
#     .equals(
#         primary_df.date
#     )
# )

True

**Note:** The all-rows check, above, is commented out because it takes a long time, but when run, it does show equality between the entire `date` series and the combined `year`-`month`-`day` series.

Because `year`, `month`, and `day` were originally stored as `int64` values, this also tells us that all the values in `date` are properly formatted (no leading or trailing spaces, *etc*.).

The data is therefore redundant, and we don't need both.

`weekday` is likewise redundant, since it can be calculated from `date`.

In [12]:
# Drop redundant date columns
primary_df.drop(
    columns=['year','month','day','weekday'],
    errors='ignore',
    inplace=True
)

primary_df_rows, primary_df_cols = primary_df.shape

print(f"{primary_df_rows:,} rows × {primary_df_cols:,} columns")

5,512,903 rows × 31 columns

In [13]:
# Examine `cancelled_code` column
primary_df.cancelled_code.value_counts()

N    5426150
B      41919
A      23451
C      21370
D         13
Name: cancelled_code, dtype: int64

### What do the codes mean?

According to the United States Department of Transportation Bureau of Transportation Statistics Airlines and Airports data, [Number 14 - On-Time Reporting](https://www.bts.gov/topics/airlines-and-airports/number-14-time-reporting):

**CANCELLATION CODES**
- `A`-Carrier Caused
- `B`-Weather
- `C`-National Aviation System
- `D`-Security

\[`N` is not on the list and represents "None" or "Not cancelled".\]

We are only interested in flights that were cancelled due to weather, so we will keep only rows with `cancelled_code` `B` or `N`.

In [14]:
primary_df = primary_df.loc[primary_df.cancelled_code.isin(['B','N'])]

primary_df_rows, primary_df_cols = primary_df.shape

print(f"{primary_df_rows:,} rows × {primary_df_cols:,} columns")

5,468,069 rows × 31 columns

In [15]:
# Check that there are now only `B` and `N` values
primary_df.cancelled_code.value_counts()

N    5426150
B      41919
Name: cancelled_code, dtype: int64

In [16]:
# Convert `cancelled_code` column into boolean `cancelled` column, where
# `B` = True (*was* cancelled) and `N` = False (*was not* cancelled)

try:
    print("Converting cancelled_code column to boolean… ", end="")
    primary_df.cancelled_code = (primary_df.cancelled_code == 'B')
    primary_df.rename(columns={'cancelled_code':'cancelled'},inplace=True)
    print()
except AttributeError:
    print("Column has already been processed.")

primary_df.cancelled.value_counts()

Converting cancelled_code column to boolean…

False    5426150
True       41919
Name: cancelled, dtype: int64

In [17]:
# How many flights were cancelled|not cancelled vs. how many departed|arrived

departed = ~primary_df.actual_departure_dt.isna()
arrived = ~primary_df.actual_arrival_dt.isna()

mult_ix = pd.MultiIndex.from_tuples([
    ('departed',True),
    ('departed',False),
    ('arrived',True),
    ('arrived',False),
])

mult_cols = pd.MultiIndex.from_tuples([
    ('cancelled',False),
    ('cancelled',True)
])

pd.DataFrame(
    data=[
        [
            primary_df.loc[(~primary_df.cancelled) & (departed)].shape[0],
            primary_df.loc[(primary_df.cancelled) & (departed)].shape[0]
        ],
        [
            primary_df.loc[(~primary_df.cancelled) & (~departed)].shape[0],
            primary_df.loc[(primary_df.cancelled) & (~departed)].shape[0]
        ],
        [
            primary_df.loc[(~primary_df.cancelled) & (arrived)].shape[0],
            primary_df.loc[(primary_df.cancelled) & (arrived)].shape[0]
        ],
        [
            primary_df.loc[(~primary_df.cancelled) & (~arrived)].shape[0],
            primary_df.loc[(primary_df.cancelled) & (~arrived)].shape[0]
        ]
    ],
    index=mult_ix,
    columns=mult_cols
)

               cancelled
                   False   True
departed True    5426150   1854
         False         0  40065
arrived  True    5424261      0
         False      1889  41919

In [18]:
# Does anything stand out for cancelled flights that still departed?
primary_df.loc[primary_df.cancelled & departed].head().transpose()

,16715,17002,17815,18640,18750
carrier_code,AA,AA,AA,AA,AA
flight_number,1393,346,2761,1271,5821
origin_airport,OKC,DFW,DFW,IAH,DFW
destination_airport,DFW,MSY,STL,DFW,ELP
date,2019-05-01,2019-05-01,2019-05-01,2019-05-01,2019-05-01
scheduled_elapsed_time,69,85,105,75,104
tail_number,N751UW,N357PV,N971TW,N898NN,N243LR
departure_delay,176,83,111,113,28
arrival_delay,0,0,0,0,0
delay_carrier,0,0,0,0,0
delay_weather,0,0,0,0,0
delay_national_aviation_system,0,0,0,0,0
delay_security,0,0,0,0,0
delay_late_aircarft_arrival,0,0,0,0,0
cancelled,True,True,True,True,True
scheduled_departure_dt,2019-05-01 18:29:00,2019-05-01 18:25:00,2019-05-01 18:45:00,2019-05-01 19:54:00,2019-05-01 20:29:00
scheduled_arrival_dt,2019-05-01 19:38:00,2019-05-01 19:50:00,2019-05-01 20:30:00,2019-05-01 21:09:00,2019-05-01 21:13:00
actual_departure_dt,2019-05-01 21:25:00,2019-05-01 19:48:00,2019-05-01 20:36:00,2019-05-01 21:47:00,2019-05-01 20:57:00
actual_arrival_dt,NaN,NaN,NaN,NaN,NaN
STATION_x,72353013967.0,72259003927.0,72259003927.0,72243012960.0,72259003927.0
HourlyDryBulbTemperature_x,62.0,77.0,77.0,79.0,65.0
HourlyPrecipitation_x,0.0,0.0,0.0,0.0,0.01
HourlyStationPressure_x,28.46,29.25,29.25,29.82,29.31
HourlyVisibility_x,10.0,10.0,10.0,7.0,10.0
HourlyWindSpeed_x,8.0,7.0,7.0,16.0,9.0
STATION_y,72259003927.0,72231012916.0,72434013994.0,72259003927.0,72270023044.0
HourlyDryBulbTemperature_y,67.0,77.0,67.0,65.0,79.0
HourlyPrecipitation_y,0.0,0.0,0.0,0.01,0.0
HourlyStationPressure_y,29.29,30.05,29.27,29.31,25.92
HourlyVisibility_y,10.0,10.0,10.0,10.0,10.0
HourlyWindSpeed_y,17.0,11.0,11.0,9.0,11.0

In [19]:
# What about non-cancelled flights that didn't arrive?
primary_df.loc[~primary_df.cancelled & ~arrived].head().transpose()

,5154,12535,13657,16277,17368
carrier_code,AS,AA,WN,WN,UA
flight_number,55,2028,2272,2212,6296
origin_airport,SCC,MEM,PDX,ABQ,IAD
destination_airport,BRW,DFW,DAL,DAL,DFW
date,2019-05-01,2019-05-01,2019-05-01,2019-05-01,2019-05-01
scheduled_elapsed_time,45,99,230,105,209
tail_number,N609AS,N749US,N931WN,N788SA,N87353
departure_delay,29,398,-2,-5,212
arrival_delay,0,0,0,0,0
delay_carrier,0,0,0,0,0
delay_weather,0,0,0,0,0
delay_national_aviation_system,0,0,0,0,0
delay_security,0,0,0,0,0
delay_late_aircarft_arrival,0,0,0,0,0
cancelled,False,False,False,False,False
scheduled_departure_dt,2019-05-01 10:20:00,2019-05-01 14:56:00,2019-05-01 11:35:00,2019-05-01 16:35:00,2019-05-01 17:40:00
scheduled_arrival_dt,2019-05-01 11:05:00,2019-05-01 16:35:00,2019-05-01 17:25:00,2019-05-01 19:20:00,2019-05-01 20:09:00
actual_departure_dt,2019-05-01 10:49:00,2019-05-01 21:34:00,2019-05-01 11:33:00,2019-05-01 16:30:00,2019-05-01 21:12:00
actual_arrival_dt,NaN,NaN,NaN,NaN,NaN
STATION_x,70063727406.0,72334013893.0,72698024229.0,72365023050.0,72403093738.0
HourlyDryBulbTemperature_x,30.0,68.0,63.0,75.0,66.0
HourlyPrecipitation_x,0.0,0.0,0.0,0.0,0.0
HourlyStationPressure_x,30.27,29.69,29.96,24.59,29.83
HourlyVisibility_x,2.0,10.0,10.0,10.0,10.0
HourlyWindSpeed_x,11.0,11.0,5.0,15.0,7.0
STATION_y,70026027502.0,72259003927.0,72258013960.0,72258013960.0,72259003927.0
HourlyDryBulbTemperature_y,27.0,78.0,80.0,78.0,67.0
HourlyPrecipitation_y,0.0,0.0,0.0,0.03,0.0
HourlyStationPressure_y,30.29,29.21,29.36,29.36,29.29
HourlyVisibility_y,0.5,10.0,9.0,8.0,10.0
HourlyWindSpeed_y,17.0,9.0,9.0,0.0,17.0

In [20]:
primary_obj_cols = primary_df.select_dtypes('object').columns

primary_obj_cols.tolist()

['carrier_code',
 'origin_airport',
 'destination_airport',
 'date',
 'tail_number',
 'scheduled_departure_dt',
 'scheduled_arrival_dt',
 'actual_departure_dt',
 'actual_arrival_dt']

`carrier_code`, `origin_airport`, `destination_airport`, and `tail_number` are legitimate `string`/`text` columns.

`carrier_code` and `tail_number` are for identification purposes, only, though, and so will not be features for the machine-learning model.

`origin_airport` and `destination_airport` will serve as foreign keys to join to the airport data from the secondary dataset.

`date`, `scheduled_departure_dt`, `scheduled_arrival_dt`, `actual_departure_dt`, `actual_arrival_dt` are currently `string`s, but they can be converted to `date`, `datetime` or `timestamp` formats, if necessary prior to uploading to the SQL database.

`actual_departure_dt` and `actual_arrival_dt` can be stored in the database, but they absolutely should ***not*** be used as features for machine learning, as their presence or absence *defines* what it means for a flight to be cancelled, which is exactly what we want the model to predict.

## Secondary Data Set

In [21]:
# Assign the Global Airport Database setup file as a string
with open(os.path.join(data_dir,secondary_source_file)) as gadb:
    gadb_text = gadb.read()

In [22]:
print(gadb_text[:1500], '\n…')

/*
   Global Airport Database
   Author: Arash Partow
   URL: www.partow.net/miscellaneous/airportdatabase/index.html

   Copyright notice:
   Free use of the Global Airport Database is permitted under the
   guidelines and in accordance with the most current version of
   the MIT License.
   http://www.opensource.org/licenses/MIT
*/

create table airports
             (
               icao_code   char   ( 4)       ,
               iata_code   char   ( 3)       ,
               name        varchar(50)       ,
               city        varchar(50)       ,
               country     varchar(50)       ,
               lat_deg     int               ,
               lat_min     int               ,
               lat_sec     int               ,
               lat_dir     char   ( 1)       ,
               lon_deg     int               ,
               lon_min     int               ,
               lon_sec     int               ,
               lon_dir     char   ( 1)       ,
               altitude    int               ,
               lat_decimal double precision  ,
               lon_decimal double precision  ,
               id          serial primary key
             );

insert into airports values ('AYGA', 'GKA', 'GOROKA', 'GOROKA', 'PAPUA NEW GUINEA', 006, 004, 054, 'S', 145, 023, 030, 'E', 01610, -6.082, 145.392);
insert into airports values ('AYLA', 'LAE', 'N/A', 'LAE', 'PAPUA NEW GUINEA', 000, 000, 000, 'U', 000, 000, 000, 'U', 00000, 0.000, 0.000);
insert into airports v
…

In [23]:
# Split the text on double-linebreaks.
gadb_split = gadb_text.split('\n\n')

In [24]:
len(gadb_split)

4

In [25]:
# The first two segments are header information
print(gadb_split[:2])

['/*\n   Global Airport Database\n   Author: Arash Partow\n   URL: www.partow.net/miscellaneous/airportdatabase/index.html', '   Copyright notice:\n   Free use of the Global Airport Database is permitted under the\n   guidelines and in accordance with the most current version of\n   the MIT License.\n   http://www.opensource.org/licenses/MIT\n*/']

In [26]:
# The third segment (index 2) is the table setup
print(gadb_split[2])

create table airports
             (
               icao_code   char   ( 4)       ,
               iata_code   char   ( 3)       ,
               name        varchar(50)       ,
               city        varchar(50)       ,
               country     varchar(50)       ,
               lat_deg     int               ,
               lat_min     int               ,
               lat_sec     int               ,
               lat_dir     char   ( 1)       ,
               lon_deg     int               ,
               lon_min     int               ,
               lon_sec     int               ,
               lon_dir     char   ( 1)       ,
               altitude    int               ,
               lat_decimal double precision  ,
               lon_decimal double precision  ,
               id          serial primary key
             );

In [27]:
# The last segment (index 3) is the data-insertion instructions.

# Capitalize keywords and combine VALUES into single INSERT INTO instruction
gadb_split[3] = re.sub('insert into airports values ', 'INSERT INTO airports (\n    icao_code,\n    iata_code,\n    name,\n    city,\n    country,\n    lat_deg,\n    lat_min,\n    lat_sec,\n    lat_dir,\n    lon_deg,\n    lon_min,\n    lon_sec,\n    lon_dir,\n    altitude,\n    lat_decimal,\n    lon_decimal\n)\nVALUES\n    ', gadb_split[3], count=1, flags=re.I)
gadb_split[3] = re.sub('\);\ninsert into airports values \(', '),\n    (', gadb_split[3], flags=re.I)

In [28]:
print(gadb_split[3][:1500],'\n…')

INSERT INTO airports (
    icao_code,
    iata_code,
    name,
    city,
    country,
    lat_deg,
    lat_min,
    lat_sec,
    lat_dir,
    lon_deg,
    lon_min,
    lon_sec,
    lon_dir,
    altitude,
    lat_decimal,
    lon_decimal
)
VALUES
    ('AYGA', 'GKA', 'GOROKA', 'GOROKA', 'PAPUA NEW GUINEA', 006, 004, 054, 'S', 145, 023, 030, 'E', 01610, -6.082, 145.392),
    ('AYLA', 'LAE', 'N/A', 'LAE', 'PAPUA NEW GUINEA', 000, 000, 000, 'U', 000, 000, 000, 'U', 00000, 0.000, 0.000),
    ('AYMD', 'MAG', 'MADANG', 'MADANG', 'PAPUA NEW GUINEA', 005, 012, 025, 'S', 145, 047, 019, 'E', 00007, -5.207, 145.789),
    ('AYMH', 'HGU', 'MOUNT HAGEN', 'MOUNT HAGEN', 'PAPUA NEW GUINEA', 005, 049, 034, 'S', 144, 017, 046, 'E', 01643, -5.826, 144.296),
    ('AYNZ', 'LAE', 'NADZAB', 'NADZAB', 'PAPUA NEW GUINEA', 006, 034, 011, 'S', 146, 043, 034, 'E', 00073, -6.570, 146.726),
    ('AYPY', 'POM', 'PORT MORESBY JACKSONS INTERNATIONAL', 'PORT MORESBY', 'PAPUA NEW GUINEA', 009, 026, 036, 'S', 147, 013, 012, 'E', 00045, -9.443, 147.220),
    ('AYRB', 'RAB', 'N/A', 'RABAUL', 'PAPUA NEW GUINEA', 000, 000, 000, 'U', 000, 000, 000, 'U', 00000, 0.000, 0.000),
    ('AYWK', 'WWK', 'WEWAK INTERNATIONAL', 'WEWAK', 'PAPUA NEW GUINEA', 003, 035, 001, 'S', 143, 040, 009, 'E', 00006, -3.584, 143.669),
    ('BGAM', 'N/A', 'N/A', 'ANGMAGSSALIK', 'GREENLAND', 000, 000, 000, 'U', 000, 000, 000, 'U', 00000, 0.000, 0.000),
    ('BGAS', 'N/A', 'N/A', 'ANGISSOQ', 'GREENLAND', 000, 000, 000, 'U', 000, 000, 000, 'U', 00
…